/*-- scss:defaults --*/

$blue: #00496d;
$yellow: #f7951d;
$red: #d51f29;
$white: #FFF;
$link-color: $blue;
$body-bg: $white;

/*-- scss:rules --*/

.quarto-title-banner h1 {
  color: $white;
}

h2, h3, h4, h5, h6 {
  color: $blue;
}

.header-section-number {
  color: $blue;
}

.quarto-title-banner {
  background: $blue;
  color: $white;
}

.quarto-title-meta-heading {
  color: $blue;
}

thead {
  background: $blue;
  color: $white;
}


